@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, input, textarea {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  grid-template:
    "header" 4rem
    "main" calc(100vh - 4rem)
    / 100%;
  background-color: var(--c-dark);
  color: var(--c-white);
}

input, textarea {
  padding: .25rem;
  border-radius: .25rem;
  border: .125rem solid var(--c-neutral);
}

.container {
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jc-center {
  justify-content: center;
}

.jc-space-between {
  justify-content: space-between;
}

.fg-1 {
  flex-grow: 1;
}

.gap-1 {
  gap: .25rem;
}

.gap-2 {
  gap: .5rem;
}

.gap-3 {
  gap: .75rem;
}

.gap-4 {
  gap: 1rem;
}

.muted {
  color: var(--c-neutral);
}

.overlay {
  z-index: 10;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--c-shade);
  color: var(--c-white)
}